*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
.home{
    text-align: center;
    background-color: #b7f76e;
    color: rgb(27, 1, 1);
    font-family: serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
   
   
}
nav{
    flex: 1;
    text-align: right;

    
}
nav ul{
    display: inline-block;
    list-style: none;
    margin-left: 50px;
  
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    width: 50px;
}


a{
    text-decoration: none;
    color: #555;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}
a:hover{
    background-color: #e9dae9;
    border-radius: 1px solid;
   
   
}
.your{
    color: #000;
    font-size: 80px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.new{
    color: #000;
    font-size: 80px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: #555;
    text-align: justify;
    margin-left: 50px;
    
}
.p1{
    color: #555;
    text-align:justify;
    
}

.b1{
    display: inline-block;
    background: #863bff;
    color: #fff;
    padding: 8px 30px;
    margin: 0px;
    border-radius: 30px;
    width: 30%;
    margin-bottom: 60px;
    margin-right: 0%;
    

    text-align: center;
    transition: background 0.5s;

}


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
    
}
.get{
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #ff523b;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    display:flow-root;
    box-sizing: border-box;
    border-radius: 10px;
    border:none;
}
a:hover{
    cursor: pointer;
    color: #ff523b;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;


}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
   
    
}

.btn:hover{
    background: #563434;

}
.header{
    background: radial-gradient(rgb(132, 191, 229), #ffd6d6);
    text-align: center;
    height: 80vh;
    
}
.header .row{
    margin-top: 70px;
   
}
.cartegories{
    margin: 70px 0;
    transform: translateX(0px);
    transition: 0.7s all;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    box-shadow: 3px 3px 3px 0px;
    color: #555;
    transform: translateX(10px);
    transition: 0.5 all;
}


.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    box-shadow: 3px 3px 3px 0px;
    color: #555;
    transform: translateX(10px);
    transition: 0.5 all;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #330433;
    width: 80px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} 
h4{
    font-size: 13px;
    text-align: justify;
    color: black;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff, #ff523b );
    margin-top: 80px;
    padding: 30px 0;
    
}
.col-2 .offer-img{
    padding: 50px;
}
h1{
    font-size: 50px;
    text-align: right;
}

small{
    color:#555;
}
 .b1{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding:  5px;
    
    margin: 30px 0;
    width: 30%;
    border-radius: 30px;
    transition: background 0.5s;
    text-align: center;
}
.b1:hover{
    background: #563434;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    text-transform: lowercase;
    font-family:  monospace;
    font-size: small;
    box-shadow: 0 20px 0px  rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
    background-color: aliceblue;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    
   
    
}
 

.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;

}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*----brands-----*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* ---footer---*/
.footer{
    background: rgb(92, 3, 3);
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0px 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h5{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis:30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
width: 180px;
margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;

}
ul{
    list-style: none;
}
h3{
    margin-top: 80px;
    background-color: #000;
    color: #fff;
    text-align: center;


}
.buy{
    background: rgb(82, 32, 218);
    color: #fff;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    border-style: none;
    padding: 5px;
}
.buy:hover{
    color:yellow;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width:750px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    

nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav ul li a{
    color: #fff;
}
.menu-icon{
    display: block;
    cursor: pointer;
}

}
@media only screen and (max-width:600px){
.row{
    text-align: center;
}
.col-2, .col-3, .col-4{
    flex-basis: 100%;
}
}






